@charset "UTF-8";

body {
	color: #FF00CC;
	font-family: メイリオ;
	　background-image : url('../images/kuro.jpg');
	 text-align : center;
     background-size: cover;                               /* 画像のサイズを指定    */
     max-width: 100%;                                      /* 横幅のサイズを指定    */
     height: auto;
}

h1 {
	color: #FF00CC;
	font-family: 'Anton', sans-serif;
}

div {text-align:center;}

table {
	background-color: #FFCCCC;
	color:black;
}
th {
background-color: #CCFFFF;
text-align:center;
color: black;
}


/*.aaa {
	text-align : center;
}*/
/*text-align : center;*/